 @model ResponseDto<PaginatedResultDto<AssignmentDeliveryViewModel>>;
@{int count =0; }
@if (Model!=null)
{
    if (Model.Data.PageMetaData.Page == 1)
    {
        count = 0;
    }
    else
    {
        count =( Model.Data.PageMetaData.Page -1)* Model.Data.PageMetaData.PerPage;
    }
}



<div class="d-flex justify-content-between col-12">

    <div class="container shadow rounded col-12 p-4" style="width;">
        <form id="myForm1" asp-controller="Dashboard">
            <table class="table table-borderless">
                <thead>
                    <tr class="">
                        <th>S/N</th>
                        <th>Order</th>
                        <th>Status</th>

                    </tr>
                </thead>
                @if (Model.Data.ResponseData.Count() > 0)
                {
                    <tbody>

                        @foreach (var item in Model.Data.ResponseData)
                        {
                            count++;
                            <tr class="">
                                <td>@count</td>
                                <td><a href="">@item.OrderId</a></td>
                                <td><a class="btn btn-success btn-sm mr-1 text-light">Accepted<span class="badge badge-light ml-1">✔</span></a></td>

                            </tr>

                        }



                    </tbody>
                }
                @{else
                    {
                        <tbody>
                        </tbody>
                    }
                }

            </table>
            @if (Model.Data.ResponseData.Count() == 0)
            {
                <div style="display:flex; justify-content:center;height:50px">
                    <p style="margin:7px auto;font-weight:bold">NO RECORD FOUND</p>
                </div>
            }
        </form>

    </div>
</div>
@if (Model!=null)
{

    <div class="col-12 text-center justify-content-center">
        <ul class="pagination mt-3">

            @for (int i = 1; i <= Model.Data.PageMetaData.TotalPages; i++)
            {

                var disabled = Model.Data.PageMetaData.Page == i ? "disabled" : "";


                <li class="page-item">
                    <button class="page-link btn btn-sm @disabled" id="@i" onclick="acceptedBtn(this)">@i</button>
                </li>
            }
        </ul>
    </div>
}

